@import url('https://fonts.googleapis.com/css?family=Catamaran:200|Lato:100,300,400');


header {
    padding: 100px 0;
    background-image: url('https://blackrockdigital.github.io/startbootstrap-new-age/img/bg-pattern.png'), linear-gradient(to right, #D42637, #804292);
    background-repeat: repeat;
}

h1 {
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 1px;
}

img {
    border-radius: 5px;
    max-width: 100%;
    /* height: 80vh; */
    /* margin-left: 100px; */
}

.btn {
    color: white;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid white;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 11px;
    padding: 15px 45px;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: #FDCC52;
    transition-duration: .5s;
}

.header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
}


