<header class="masthead">
<div class="container h-100">
<div class="row h-100">
  <div class="col-lg-7 my-auto">
    <div class="header mx-auto">
    <h1 class="mb-5">New Age is an app landing page that will help you beautifully showcase your new mobile app, or anything else!</h1>
    <button class="btn">Start Now For Free!</button>
  </div>
</div>
<div class="col-lg-5 my-auto">
  <div class="device-container">
    <div class="device-mockup portrait white">
      <div class="device">
        <div class="screen">
          <!-- <img src="https://blackrockdigital.github.io/startbootstrap-new-age/img/demo-screen-1.jpg" class="img-fluid" alt> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</header>