<section class="download text-center">
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1>Discover what all the buzz is about!</h1>
      <p>Our app is available on any mobile device! Download now to get started!</p>
      <div class="badges">
          <img src="https://blackrockdigital.github.io/startbootstrap-new-age/img/google-play-badge.svg">
          <img src="https://blackrockdigital.github.io/startbootstrap-new-age/img/app-store-badge.svg">
      </div>

    </div>
    <p></p>
  </div>
</div>
</section>